@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

.follioLogo{
    font-family: "Jost", sans-serif;
} 
.btn-contact{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;

}
.btn-contact:hover{
    background-color: #3e8e41;
}

.social-media{
    color: #4CAF50;
}
.social-media:hover{
    color: #3e8e41;
}
.btn-cv{
    /* background-color: #4CAF50; */
    color: #4CAF50;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;

}
.btn-cv:hover{
    color: #3e8e41;
    background-color: transparent;
}
.btn-send{
    background-color: #4CAF50;
    color: white;
}
.btn-send:hover{
    background-color: #56bd5a;
    color: white;
}

@media (max-width: 768px) {
    .social{
    display: none;
    }
    .aboutme{
        padding: 5px;
    }
    .home-page{
        margin-top: 20px;
    }
    .avatar-img{
        /* display: contents; */    
    }
    .instaPost{
        min-height: 80vh;

        font-size: 12.8px;        

        h2{
            font-size: 30px;
        }
        p{
            font-size: 16px;
            text-align: left;
        }
    }

    .intro{
        p{
            text-align: left;
            /* font-size: 18px; */
        }
    }
}